body {
  font-family: "Open Sans";
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #8e8e8e,
    #95a0b4,
    #82b7d7,
    #56d1ec,
    #12ebeb
  );
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
}

.logo {
  background-color: #00b2ff;
  border-radius: 10%;
  height: 25px;
  width: 250px;
}

.header-left {
  display: flex;
  justify-content: space-between;
  gap: 50%;
}

.spanh {
  background-color: #00b2ff;
  border-radius: 10%;
  height: 25px;
}

.cats-like-title {
  margin-top: 10%;
  background-color: white;
  display: flex;
  justify-content: center;
  color: #00b2ff;
  height: 30vh;
  margin-bottom: -13%;
}

.cats-like {
  margin-top: 0%;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.cat-img {
  height: 300px;
  width: 400px;
}

.cat-img-text {
  align-self: flex-end;
}

.cats-like-text {
  display: flex;
  justify-content: space-between;
  margin-left: 16%;
  margin-right: 15%;
  color: #00b2ff;
  font-weight: bold;
}

.cats-dont-like-title {
  margin-top: 5%;
  background-color: white;
  display: flex;
  justify-content: center;
  color: #00b2ff;
  height: 30vh;
  margin-bottom: -13%;
}

.cats-dont-like {
  margin-top: 0%;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.cat-img {
  height: 300px;
  width: 400px;
}

.cat-img-text {
  align-self: flex-end;
}

.cats-dont-like-text {
  display: flex;
  justify-content: space-between;
  margin-left: 16%;
  margin-right: 15%;
  color: #00b2ff;
  font-weight: bold;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  background-color: white;
}
