body {
  font-family: "Open Sans";
  height: 100vh;
  background-color: grey;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
}

.logo {
  background-color: #00b2ff;
  border-radius: 10%;
  height: 25px;
  width: 250px;
}

.header-left {
  display: flex;
  justify-content: space-between;
  gap: 50%;
}

.spanh {
  background-color: #00b2ff;
  border-radius: 10%;
  height: 25px;
}

.cats-like-title {
  margin-top: 10%;
  background-color: white;
  display: flex;
  justify-content: center;
  color: #00b2ff;
  height: 30vh;
  margin-bottom: -13%;
}

.cats-like {
  margin-top: 0%;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.cat-img {
  height: 300px;
  width: 400px;
}

.cat-img-text {
  align-self: flex-end;
}

.cats-like-text {
  display: flex;
  justify-content: space-between;
  margin-left: 16%;
  margin-right: 15%;
  color: #00b2ff;
  font-weight: bold;
}
